@model Assignment2.Models.BillPay

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BillPay</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BillPayID" />
            <div class="form-group">
                <label asp-for="AccountNumber" class="control-label"></label>
                <input asp-for="AccountNumber" class="form-control" />
                <span asp-validation-for="AccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayeeID" class="control-label"></label>
                <input asp-for="PayeeID" class="form-control" />
                <span asp-validation-for="PayeeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleDate" class="control-label"></label>
                <input asp-for="ScheduleDate" class="form-control" />
                <span asp-validation-for="ScheduleDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Period" class="control-label"></label>
                <input asp-for="Period" class="form-control" />
                <span asp-validation-for="Period" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifyDate" class="control-label"></label>
                <input asp-for="ModifyDate" class="form-control" />
                <span asp-validation-for="ModifyDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

