@model Customer
@{
    ViewData["Title"] = "Transfer Between Accounts";
}

<div class="row">
    
</div>

<div>
    <a asp-action="Index">Back to ATM</a>
</div>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
