<h1 id="tableLabel">Transaction Analysis</h1>

<p *ngIf="!ansResult"><em>Loading...</em></p>
<hr />

<form [formGroup]="chartForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>
  <div class="form-group row">
    <div class="col">
      <label class=" control-label">Customer</label>
      <select class="form-control" formControlName="customerID">
        <option [ngValue]="null">
          All
        </option>
        <option *ngFor="let cus of customerDropdown" [ngValue]="cus.customerID">
          {{ cus.customerID }} ( {{ cus.name }} )
        </option>
      </select>
    </div>
    <div class="col">
      <label class=" control-label">From Date</label>
      <input type="date" class="form-control" formControlName="fromDate" [max]="chartForm.value.toDate">
      <div *ngIf="fromDateErrMessage" class="text-danger">
        {{ fromDateErrMessage }}
      </div>
    </div>
    <div class="col">
      <label class=" control-label">To Date</label>
      <input type="date" name="address" class="form-control" formControlName="toDate" [min]="chartForm.value.fromDate">
    </div>
    <div class="col">
      <label class=" control-label">Analysis options</label>
      <select class="form-control" formControlName="chartType">
        <option value="transactionCount">
          Transaction count
        </option>
        <option value="totalAmount">
          Total amount
        </option>
        <option value="amountPerType">
          Total amt. per trans. type
        </option>
      </select>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary" style="margin-top: 32px;">Submit</button>
    </div>
  </div>
</form>

<div class="container">
  <canvas id="transactionChart"></canvas>
</div>
