<h1 id="tableLabel">All Users</h1>

<p>All user data from server.</p>

<p *ngIf="!customers"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="customers">
  <thead>
    <tr>
      <th>User ID</th>
      <th>Customer ID</th>
      <th>Name</th>
      <th>Login Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of customers">
      <td>{{ user.login.userID }}</td>
      <td>{{ user.customerID }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.login.status }}</td>
      <td>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Actions
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/trans-data-analysis?customerID={{ user.customerID }}">Transaction Analysis</a>
            <a class="dropdown-item" href="/trans-history?customerID={{ user.customerID }}">Transactions History</a>
            <a class="dropdown-item" href="/admin-actions/{{ user.customerID }}">Admin Actions</a>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
